
body{
  background-color: #EDEFEE;
}

.desiluminar{
  background-color: steelblue;
  color: #000000;
  font-family: 'Syne Mono', monospace;
  text-align: center;
}

.iluminar{
  background-color:white;
  color:red;
  font-family: 'Syne Mono', monospace;
  text-align: center;
}

h2{
  color: #000000;
  font-family: 'Syne Mono', monospace;
}

button{
  left: 50%;
  position: relative;
  color: #CA000A;
  background-color: #fff;
}


