
body{
  background-color: #EDEFEE;
}

.fondo{
  background-color: #000000;
  color: #ffff;
}

.desiluminar{
  background-color: steelblue;
  color: #000000;
  font-family: 'Syne Mono', monospace;
  text-align: center;
}

.iluminar{
  background-color:white;
  color:red;
  font-family: 'Syne Mono', monospace;
  font-size: 25px;
  text-align: center;
}

h2{
  color: #000000;
  font-family: 'Syne Mono', monospace;

}

p{
  background-color: yellow;
  font-family: 'Syne Mono', monospace;
  font-size": 200%;
}

button{
  left: 50%;
  position: relative;
  color: #CA000A;
  background-color: #fff;
}


